h2{
	font-size: 18px;
	color: #172b4d;
	margin-bottom: 8px;
	padding: 0 8px;
}
.bugsNotInProcess{
	background-color: #dfe1e6;
	border-radius: 3px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	max-width: 500px;
	position: relative;
	white-space: normal;
	list-style: none;
	padding: 0 4px;
}

.bugsNotInProcess h1, p{
	margin: 20px
}

.list-card-details a{
	position: relative;
	display: block;
	flex: 1 1 auto;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 4px;
	padding: 25px 5px 10px 10px;
	z-index: 1;
	min-height: 20px;
	background-color: #fff;
	color: #172b4d;
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(9,30,66,.25);
}
.list-card-details a::before{
	content: '';
	position: absolute;
	border-radius: 4px;
	left: 15px;
	top: 10px;
	height: 8px;
	max-width: 40px;
	min-width: 40px;
	padding: 0;
	width: auto;
	background-color: #eb5a46;
}
a.switch-board-btn{
	display: inline-block;
	padding: 15px 20px 14px;
	background-color: #000;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

a.switch-board-btn.active{
	background-color: #717171;
}
a.switch-board-btn{
	display: inline-block;
	padding: 15px 20px 14px;
	background-color: #000;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

a.switch-board-btn.active{
	background-color: #717171;
}

iframe.document{
	display: block;
	max-width: 900px;
	width: 100%;
	height: 600px;
	margin-bottom: 50px;
	margin-top: 50px;
}